[Desktop Entry]
Name=Basic widgets
Name[en_GB]=Basic widgets
Name[fr]=Widgets basiques
Comment=Package containing basic widgets used on Harmattan
Comment[en_GB]=Package containing basic widgets used on Harmattan
Comment[fr]=Paquet contenant des widgets basiques utilisés sur Harmattan
Icon=
Type=Service
X-Widgets-ServiceType=plugin
X-Widgets-PluginInfo-Id=org.SfietKonstantin.basicwidgets
X-Widgets-PluginInfo-Author=Lucien XU
X-Widgets-PluginInfo-Tags=mobile-harmattan
X-Widgets-PluginInfo-Email=sfietkonstantin@free.fr
X-Widgets-PluginInfo-Website=https://gitorious.org/~sfietkonstantin
X-Widgets-PluginInfo-Name=basicwidgets
X-Widgets-PluginInfo-Version=1.0.0
