[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Widgets
Exec=/usr/bin/invoker --type=e -s --splash=/opt/widgets/data/splash.jpg /opt/widgets/bin/widgets
Icon=/usr/share/icons/hicolor/80x80/apps/widgets.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
