[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Widgets settings
Exec=/usr/bin/invoker --type=e -s /opt/widgets-settings/bin/widgets-settings
Icon=/usr/share/icons/hicolor/80x80/apps/widgets-settings.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
